<div class="container-fluid">
  <div class="data-imported-popup">
      <!--  background popup -->
      <div class="popup-mainDiv">
          <!-- close image -->
          <div class="dataPopup-img">
              <img src='../../assets/images/false.png' class="cursor-pointer" />
          </div>
          <!-- heading -->
          <div class="heading-dataPopup fnt-family-sans">
              <h5>Data Imported Successfully</h5>
          </div>
          <!-- message section -->
          <div class="messageSection-MainDiv">
              <!-- heading -->
              <div class="heading-of-studentData fnt-family-sans">
                  <h6>Students data already exist.</h6>
              </div>
              <div class="list-of-data-mainDiv">
                  <ul>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                      <li class="fnt-family-sans">Name</li>
                  </ul>
              </div>
              <!-- buttons -->
              <div class="importedButton-MainDiv">
                  <div class="button-PopupWidth">
                      <Button class="loginButton buttonColor cursor-pointer btn-red fnt-family-sans">Close</Button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>